/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

.model-height {
    height: 500px;
}

.custom {
    height: 400px;
    overflow: scroll;
}

.examcustom {
    height: 500px;
    overflow: scroll;
}
.center{
    text-align: center
}