<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{topic.name}}</h4>
    <div class="template-demo">
      <table class="table mb-0">
        <thead>
          <tr>
            <th class="pl-0">Tổng số bài thi</th>
            <!-- <th class="text-right">{{topic.count_exam}}</th> -->
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pl-0">Số bài đã thi</td>
          </tr>
          <tr>
            <td class="pr-0 text-left">
              <!-- <button type="button" class="btn  btn-success btn-sm">{{topic.count_examed}}</button> -->
            </td>
            <td class="pr-0 text-right">
              <app-list-view-examed ></app-list-view-examed>
            </td>
          </tr>
          <tr>
            <td class="pl-0"></td>
            <td class="pr-0 text-right">
              <!-- <h1>{{topic.id}}</h1> -->
              <app-list-view [subject_id]="topic.id"></app-list-view>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>