<div class="container">

  <!-- Button to Open the Modal -->
  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#Modal">
    Chọn bài thi
  </button>

  <!-- The Modal -->
  <div class="modal fade" id="Modal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="row">
          <div class="col-lg-9">

            <div class="modal-header">
              <h4 class="modal-title">Đề thi</h4>
            </div><br>

            <div class="card" style="text-align: left">
                <div class="card-block">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Tên đề thi</th>
                          <th>Thời gian làm bài</th>
                          <th>Số câu hỏi</th>
                          <th></th>
                        </tr>
                      </thead>
                    </table>
                  </div>
            </div>

            <div class="card custom" style="text-align: left">
                <div class="card-block">
                    <table class="table table-striped">
                      <tbody>
                        <tr *ngFor="let item of examList">
                          <td>{{item.name_exam}}</td>
                          <td>{{item.time}}</td>
                          <td>{{item.num_questions}}</td>
                          <td><button type = "button"  data-dismiss="modal" (click)="showExamView()" class="btn btn-primary btn-sm">Thi</button></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
            </div>
          </div>
          <div class="col-lg-3">

            <div class="modal-header">
              <h4 class="modal-title">Kết quả</h4>
            </div><br>
            <div class="card">
              <div class="container">
                <form>
                  <!-- <h5>Câu hỏi {{item.question_id}}</h5> -->
                  <div class="row d-flex align-items-stretch">
                    <div class="col-lg-6">
                      <div>
                        <!-- Đáp án của bạn: A -->
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div>
                        <!-- Đáp án đúng: A -->
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

</div>
