<div class="page home-page active-sm">
  <header class="header">
    <nav class="navbar">
      <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
        <li class="nav-item dropdown"> <a id="notifications" rel="nofollow" data-target="#" href="#"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i
              class="fa fa-bell"></i><span class="badge badge-warning">12</span></a>
          <ul aria-labelledby="notifications" class="dropdown-menu">
            <li><a rel="nofollow" href="#" class="dropdown-item"> </a></li>
          </ul>
        </li>
        <li class="nav-item dropdown"> <a id="messages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-envelope"></i><span
              class="badge badge-info">10</span></a>
          <ul aria-labelledby="notifications" class="dropdown-menu"></ul>
        </li>

        <li class="nav-item"><a class="nav-link logout"><button type="button" (click)="logOut()" data-dismiss="modal"
              class="btn btn-primary">Log out</button></a>
        </li>
      </ul>
    </nav>
  </header>
</div>
<div>
  <nav class="side-navbar mCustomScrollbar _mCS_1 show-sm">
    <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: none;"
      tabindex="0">
      <div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
        <div class="side-navbar-wrapper">
          <div class="sidenav-header d-flex align-items-center justify-content-center">
            <div class="sidenav-header-inner text-center"><img src="../../assets/img/user/user1.png" alt="person"
                class="img-fluid rounded-circle mCS_img_loaded">
              <h2 class="h5 text-uppercase">Kieu Chi Cong</h2><span class="text-uppercase">Student</span>
            </div>
            <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center">
                <strong>B</strong><strong class="text-primary">D</strong></a></div>
          </div>
          <div class="main-menu">
            <ul id="side-main-menu" class="side-menu list-unstyled">
              <li><a routerLink="/home"> <i class="icon-home"></i><span>Home</span></a></li>
              <!-- <li><a routerLink="/dashboard/user"><i class="icon-form"></i><span>User</span></a></li> -->
              <li> <a routerLink="/dashboard/profile"><i class="icon-presentation"></i><span>Profiles</span></a></li>
              <li> <a routerLink="/dashboard/exam"> <i class="icon-grid"> </i><span>Exams </span></a></li>
              <li> <a routerLink="/dashboard/history"> <i class="icon-interface-windows"></i><span>History</span></a>
              </li>
              
            </ul>
          </div>
          <div class="admin-menu">
          </div>
        </div>
      </div>
      <div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical"
        style="display: block;">
        <div class="mCSB_draggerContainer">
          <div id="mCSB_1_dragger_vertical" class="mCSB_dragger"
            style="position: absolute; min-height: 30px; display: block; height: 488px; max-height: 657px; top: 0px;">
            <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
          </div>
          <div class="mCSB_draggerRail"></div>
        </div>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
