<div class="rounded" class="modal-body">
  <h3>Sign up</h3>
  <h5>Tên tài khoản</h5><input class="form-control" [(ngModel)]="username" id="ex1" type="text" placeholder="username">
  <h5>First name</h5><input class="form-control" [(ngModel)]="first_name" id="ex1" type="text" placeholder="first_name">
  <h5>Last name</h5><input class="form-control" [(ngModel)]="last_name" id="ex1" type="text" placeholder="last_name">
  <h5>Email</h5><input class="form-control" [(ngModel)]="email" id="ex2" type="text" placeholder="example@gmail.com">
  <h5>Mật khẩu</h5><input class="form-control" [(ngModel)]="password" id="ex3" type="password" placeholder="password">
  <h6><i>{{errorPas}}</i></h6>
  <h5>Xác nhận mật khẩu</h5><input class="form-control" [(ngModel)]="confirmPass" id="ex4" type="password"
    placeholder="confirm">
  <h6><i>{{errorState}}</i></h6>
  <h5></h5><button type="button" (click)="signUp()" data-dismiss="modal" class="btn btn-primary">Sign up</button>
  <h6><i>{{sucessState}}</i></h6>
</div>