<form class="form-horizontal" action="#" role="form">
  <div class="panel-body">
    <h2 class="mgbt-xs-20"> Profile: <span class="font-semibold">Kiều Chí Công</span> </h2>
    <br>
    <div class="row">
      <div class="col-sm-3 mgbt-xs-20">
        <div class="form-group">
          <div class="col-xs-12">
            <div class="form-img text-center mgbt-xs-15"> <img alt="example image" src="img/avatar/big.jpg"> </div>
            <div class="form-img-action text-center mgbt-xs-20"> <a class="btn vd_btn  vd_bg-blue"
                href="javascript:void(0);"><i class="fa fa-cloud-upload append-icon"></i> Upload</a> </div>
            <br>
            <div>
              <table class="table table-striped table-hover">
                <tbody>
                  <tr>
                    <td style="width:60%;">Status</td>
                    <td><span class="label label-success">Active</span></td>
                  </tr>
                  <tr>
                    <td>User Rating</td>
                    <td><i class="fa fa-star vd_yellow fa-fw"></i><i class="fa fa-star vd_yellow fa-fw"></i><i
                        class="fa fa-star vd_yellow fa-fw"></i><i class="fa fa-star vd_yellow fa-fw"></i><i
                        class="fa fa-star vd_yellow fa-fw"></i></td>
                  </tr>
                  <tr>
                    <td>Member Since</td>
                    <td> Jan 07, 2018 </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <h3 class="mgbt-xs-15">Account Setting</h3>
        <div class="form-group">
          <label class="col-sm-3 control-label">Email</label>
          <div class="col-sm-9 controls">
            <div class="row mgbt-xs-0">
              <div class="col-xs-9">
                <input type="email" placeholder="email@yourcompany.com">
              </div>
              <!-- col-xs-12 -->
              <div class="col-xs-2">

                <!-- btn-action col-sm-10 -->
              </div>
            </div>
            <!-- row -->
          </div>
          <!-- col-sm-10 -->
        </div>
        <!-- form-group -->
        
        <hr>

        <div class="form-group">
          <label class="col-sm-3 control-label">Username</label>
          <div class="col-sm-9 controls">
            <div class="row mgbt-xs-0">
              <div class="col-xs-9">
                <input type="text" placeholder="username">
              </div>
              <!-- col-xs-9 -->
              <div class="col-xs-2">

                <!-- btn-action col-sm-10 -->

              </div>
            </div>
            <!-- row -->
          </div>
          <!-- col-sm-10 -->
        </div>
        <!-- form-group -->

        <hr>

        <div class="form-group">
          <label class="col-sm-3 control-label">Password</label>
          <div class="col-sm-9 controls">
            <div class="row mgbt-xs-0">
              <div class="col-xs-9">
                <input type="password" class="width-40" placeholder="password">
              </div>
              <!-- col-xs-12 -->
            </div>
            <!-- row -->
          </div>
          <!-- col-sm-10 -->
        </div>
        <!-- form-group -->
        <hr>

      </div>
      <!-- col-sm-12 -->
    </div>
    <!-- row -->

  </div>
  <!-- panel-body -->

</form>