<div class="page home-page active-sm">
  <div class="breadcrumb-holder">
    <div class="container-fluid">
      <ul class="breadcrumb">

      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <div class="card">
        <div class="card-header d-flex align-items-center">
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="container">
          <h2>Thông tin Profile</h2>
          <form>
            <div class="row d-flex align-items-stretch">
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="usr">Họ và tên:</label><br>
                  <i><u>{{profile.name}}</u></i>
                </div>
                <div class="form-group">
                  <label for="pwd">Email:</label><br>
                  <i><u>{{profile.email}}</u></i>
                </div>
                <div class="form-group">
                  <label for="pwd">Level:</label><br>
                  <i><u>{{profile.level}}</u></i>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="usr">Họ và tên:</label><br>
                  <input type="text" class="form-control form-control-sm">
                </div>
                <div class="form-group">
                  <label for="pwd">Email:</label><br>
                  <input type="text" class="form-control form-control-sm">
                </div>
                <div class="form-group">
                  <label for="pwd">Level:</label><br>
                  <input type="text" class="form-control form-control-sm">
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label for="usr">Họ và tên:</label><br>
                  <button class="btn btn-success btn-sm">Thay đổi</button>
                </div>
                <div class="form-group">
                  <label for="pwd">Email:</label><br>
                  <button class="btn btn-success btn-sm">Thay đổi </button>
                </div>
                <div class="form-group">
                  <label for="pwd">Level:</label><br>
                  <button class="btn btn-success btn-sm">Thay đổi </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>