<div>
  <br>
  <br>
  <div class="row">
    <div class="col-lg-2">
      <div class="card">
        <div class="card-header d-flex align-items-center">
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="card examcustom">
        <div class="container">
          <br>
          <form *ngFor="let item of examcontent.questions">
            <h6>Câu hỏi {{item.question_id}} : {{item.question}}</h6>
            <div class="row d-flex align-items-stretch">
              <div class="col-lg-4">
                <div class="custom-control custom-checkbox mb-3">
                  <input type="radio" class="custom-control-input" id={{item.question_id}}1 name="example1">
                  <label class="custom-control-label" for={{item.question_id}}1>A:
                    {{item.choiceAnswer[0].content}}</label>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="custom-control custom-checkbox mb-3">
                  <input type="radio" class="custom-control-input" id={{item.question_id}}2 name="example1">
                  <label class="custom-control-label" for={{item.question_id}}2>B: {{item.choiceAnswer[1].content}}
                  </label><br>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="custom-control custom-checkbox mb-3">
                  <input type="radio" class="custom-control-input" id={{item.question_id}}3 name="example1">
                  <label class="custom-control-label" for={{item.question_id}}3>C: {{item.choiceAnswer[2].content}}
                  </label><br>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-header d-flex">
          <div class="col-lg-4">Bài thi số: 01 </div>
          <div class="col-lg-4">Số lượng câu hỏi: 30</div>
          <div class="col-lg-4">Thời gian làm bài: {{examcontent.time}}</div>
          <h6></h6>
        </div>
        <div class="card-header d-flex align-items-center">jkfjkdsfksdfjskdjfkdsf </div>
        <h3> Thời gian còn lại:</h3>
        <div>
          <button type="button" class="btn btn-danger">{{timeLeft}} Seconds Left....</button>
          
        </div>
      </div>
      <div class="card-header d-flex">
        <div class="row">
          <div class="col-lg-3">
            <h3>Điểm:</h3>
            <h6>0 </h6>
          </div>
          <div class="col-lg-8">
            <h3>Trạng thái:</h3>
            <button type="button" class="btn btn-danger btn-sm">{{status}}</button>
          </div>
          <app-date-pipe></app-date-pipe>
        </div>
      </div>
      <div class="card-header d-flex align-items-center">
        <!-- <button type="button" (click)="submit()" data-dismiss="modal" class="btn btn-primary">Nhấn để nộp bài</button> -->
        <div *ngIf="show; else elseBlock">
          <button type="button" (click)="submit()" data-dismiss="modal" class="btn btn-primary">Nhấn để nộp bài</button>
        </div>
        <ng-template #elseBlock></ng-template>

      </div>

    </div>
  </div>
</div>