<div>
  <br>
  <br>
  <div class="row">
    <div class="col-lg-2">
      <div class="card">
        <div class="card-header d-flex align-items-center">
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="card examcustom">
        <div class="container">
          <br>
          <form *ngFor="let item of examcontent.questions">
            <div class="card bg-light text-dark">
              <div class="card-body">
                <h6>Câu hỏi {{item.id}} : {{item.content}}</h6>
                <hr>
                <div class="row d-flex align-items-stretch" *ngFor="let answer of item.answers">
                  <div class="col-lg-10">
                    <div class="custom-control custom-checkbox mb-3">
                      <input type="radio" class="custom-control-input" id={{answer.id}} name="ex"
                        (click)="sendOneAnswer(item.id,answer.id)">
                      <label class="custom-control-label" for={{answer.id}}>{{answer.content}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card bg-light text-dark">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4">{{examcontent.name}}</div>
            <div class="col-lg-8">Thời gian làm bài: {{examcontent.timedo}}</div>
            <br>
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-8">
              <br>
              <h5> Thời gian còn lại</h5>
            </div>
            <div class="col-lg-4">
              <br>
              <button type="button" class="btn btn-danger btn-sm align-items-center">{{timeLeft}} s</button>
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-lg-6">
              <h5>Trạng thái</h5>
            </div>
            <div class="col-lg-6">
              <button type="button" class="btn btn-danger btn-sm align-items-center">{{status}}</button>
            </div>
          </div>
          <hr>

        </div>
      </div>

      <div class="card-header d-flex align-items-center">
        <div *ngIf="show; else elseBlock">
          <button type="button" (click)="submit()" data-dismiss="modal" class="btn btn-primary">Nhấn để nộp
            bài</button>
        </div>
        <ng-template #elseBlock></ng-template>

      </div>

    </div>
  </div>
</div>