<div class="row topic">
  <div class="col-2"></div>
  <div class="col-9">
    <div class="topic">
      <div class="col-md-4 grid-margin stretch-card">
        <app-card-topic [topic]="topicList.topics[0]"></app-card-topic>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <app-card-topic [topic]="topicList.topics[1]"></app-card-topic>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <app-card-topic [topic]="topicList.topics[2]"></app-card-topic>
      </div>
    </div><br>
    <div class="topic">
      <div class="col-md-4 grid-margin stretch-card">
        <app-card-topic [topic]="topicList.topics[3]"></app-card-topic>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <app-card-topic [topic]="topicList.topics[4]"></app-card-topic>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <app-card-topic [topic]="topicList.topics[5]"></app-card-topic>
      </div>
    </div>
  </div>

</div>
