<!-- <form>
    <div class="file-field md-form">
        <div mdbBtn floating="true" size="md" color="amber" mdbWavesEffect>
          <i class="fas fa-cloud-upload-alt" aria-hidden="true"></i>
          <input type="file" mdbFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
        </div>
      <div class="file-path-wrapper mt-3">
        <input class="file-path" type="text" placeholder="Upload your file" [value]="showFiles()">
      </div>
    </div>
    <button mdbBtn type="button" color="amber" class="waves-light" (click)="startUpload()" mdbWavesEffect>Start uploading</button>
</form> -->