<div class="container">
  <div>
    <p class="text_color_1"></p>
    <h1 class="text_color_1">Toeic Tester là gì???</h1>
    <p class="box_p bg_color_1">
      Toeic Tester là ứng dụng cung cấp dịch vụ thi toeic online nhanh chóng và tiện lợi, giúp người dùng dễ dàng kiểm tra
      năng lực toeic của mình
      Làm quen cấu trúc đề thi và kiểm soát thời gian làm bài
      Theo dõi quá trình luyện thi toeic của bạn qua các bài thi
    </p>
  </div>
  <h1 class="text_color_1">Lượng người dùng của Toeic Tester</h1>
  <div>
    <app-chart-js></app-chart-js>
  </div>
</div>

