<div class="page home-page active-sm">
  <div class="breadcrumb-holder">
    <div class="container-fluid">
      <ul class="breadcrumb">
        
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <div class="card">
        <div class="card-header d-flex align-items-center">
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h2 class="h5 display">Danh sách người dùng</h2>
        </div>
        <div class="card-block">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Trạng thái</th>
                <th>Level</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of userList">
                <th scope="row">1</th>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.status}}</td>
                <td>{{item.level}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>