<div class="row topic">
  <div class="col-2"></div>
  <div class="col-9">
    <div class="topic">
      <div class="col-md-4 grid-margin stretch-card">
        <app-card-topic [topic]="subjects.subjects[0]"></app-card-topic>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <app-card-topic [topic]="subjects.subjects[1]"></app-card-topic>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <app-card-topic [topic]="subjects.subjects[2]"></app-card-topic>
      </div>
    </div><br>
    <div class="topic">
      <div class="col-md-4 grid-margin stretch-card">
        <app-card-topic [topic]="subjects.subjects[3]"></app-card-topic>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <app-card-topic [topic]="subjects.subjects[4]"></app-card-topic>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <app-card-topic [topic]="subjects.subjects[5]"></app-card-topic>
      </div>
    </div>
  </div>

</div>
